# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.env
.venv
venv/
ENV/
env.bak/
venv.bak/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
.tox/

# Flutter/Dart
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds
.fvm/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Docker
.docker/data/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
